<template>
  <div>
    <h1
      style="display:flex;
    color:red;
    justify-content:center;
    align-items:center"
    >LATEST NEWS</h1>
    <div id="app" v-if="dataReady">
      <div class="container" v-for="(articles,index) in article" :key="index">
        <p>
          <span style="color:blue">Source:</span>
          {{articles.source.name}}
        </p>
        <p>
          <span style="color:#135d13">Title:</span>
          {{articles.title}}
        </p>
        <p>
          <span style="color:#e81111">Description:</span>
          {{articles.description}}
        </p>
        <p>
          <span style="color:limegreen">Content:</span>
          {{articles.content}}
        </p>
        <v-btn style="color:#500c09;
        background-color:#31f597">
          <a :href="articles.url" target="_blank">More Info</a>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "news",
  data() {
    return {
      newsData: {},
      article: [],
      dataReady: false
    };
  },
  methods: {
    getNewsData() {
      axios
        .get(
          "https://newsapi.org/v2/top-headlines?country=in&apiKey=1475d1e00fc54112b1d0ce10f1375977"
        )
        .then(response => {
          this.newsData = response.data;
          this.article = this.newsData.articles;
          // this.urlData = this.article.url;
          console.log(this.article);
        });

      this.dataReady = true;
    }
  },
  mounted: function() {
    this.getNewsData();
  }
};
</script>

<style lang="scss">
.container {
  display: flexbox;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rebeccapurple;
  padding: 5px;
  margin: 20px;
}
</style>
